In [3]:
import numpy as np
import pandas as pd

In [4]:
# LENDO SONDAGEM DO GALEAO 12Z 2023-07-23
df = pd.read_csv(
    r"C:\Users\lucas\Documents\Disciplinas\Radiacao\Trabalho\Dados\sbgl_12z_13jul23.txt",
    sep = '\s+',
    names = ['pres', 'hght', 'temp', 'dwpt', 'relh', 'mixr', 'drct', 'sknt', 'thta', 'thte', 'thtv']
    )

# degC para Kelvin
df['temp'] += 273.15
df['dwpt'] += 273.15

print(df)

      pres   hght    temp    dwpt  relh   mixr  drct  sknt   thta   thte  \
0   1006.0      9  299.35  292.35    65  14.12    40     4  298.8  340.2
1   1000.0     62  301.15  288.15    45  10.83    40     4  301.1  333.4
2    998.0     80  301.95  285.95    37   9.39    37     5  302.1  330.3
3    970.0    333  301.55  283.55    33   8.22   358    19  304.2  329.2
4    940.1    610  300.75  281.05    29   7.16   315    35  306.1  328.1
..     ...    ...     ...     ...   ...    ...   ...   ...    ...    ...
72    38.0  22400  219.65  186.85     1   0.01   235    14  559.2  559.2
73    36.0  22744  221.25  187.35     1   0.01   310     9  571.9  571.9
74    35.7  22797  221.45  187.45     1   0.01   317    10  573.9  573.9
75    35.0  22925  221.05  187.25     1   0.01   335    11  576.2  576.2
76    32.3  23443  219.65  186.65     1   0.01   277    15  585.7  585.8

     thtv
0   301.4
1   303.1
2   303.8
3   305.7
4   307.4
..    ...
72  559.2
73  571.9
74  573.9
75  576.2
76  585.7

[77 rows x 11 columns]

In [5]:
nrows = df.shape[0]

# PARAMETROS DO MODELO
model = pd.DataFrame(dict(
    u = df['hght'] - df['hght'].iloc[0], # em metros
    t = df['temp']
))

# PARAMETROS P/ O H20 (vapor)
u1 = model['u'].iloc[nrows - 1] # em metros
u0 = model['u'].iloc[0] # em metros
t1 = model['t'].iloc[nrows - 1] # em degC
ts = model['t'].iloc[0] # em degC

In [6]:
model

        u       t
0       0  299.35
1      53  301.15
2      71  301.95
3     324  301.55
4     601  300.75
..    ...     ...
72  22391  219.65
73  22735  221.25
74  22788  221.45
75  22916  221.05
76  23434  219.65

[77 rows x 2 columns]